* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.absolute__row {
  position: absolute;
  top: 15px;
}

.hover__listForMouse {
  height: 64px;
  width: 70px;
  position: absolute;
}

.list__menu .list__menu__block {
  position: absolute;
  top: 50px;
  background-color: #ffffff;
  padding-left: 28px;
  padding-bottom: 20px;
  padding-top: 45px;
  padding-right: 36px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  display: none;
}
.list__menu .list__menu__block .list__menu__block__row {
  width: 159px;
  height: 1px;
  background-color: #E7E7E7;
}
.list__menu__hover:hover .list__menu__block {
  display: flex;
}

.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
.container .fixed {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.container .fixed .fixed__block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 216px;
  height: 86px;
  background-color: #EE2523;
  color: white;
  font-weight: 600;
  gap: 20px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.container .header {
  max-width: 1920px;
  width: 100%;
  height: 64px;
}
.container .header .navigationAdaptive {
  display: none;
}
.container .header .navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
}
.container .header .navigation .nav__logo {
  margin-right: 97px;
}
.container .header .navigation .ul__list {
  display: flex;
  font-size: 16px;
  gap: 36px;
}
.container .header .navigation .nav__number a {
  color: red;
  font-weight: 600;
  margin-left: 80px;
}
.container main {
  background: #F8F8F8;
  height: 413px;
  background-image: url(/img/img.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
}
.container main .main__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container main .main__block .main__block__row {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
  margin-top: 65px;
}
.container main .main__block .main__block__row h1 {
  font-size: 50px;
  max-width: 725px;
  width: 100%;
  margin-left: 15px;
}
.container main .main__block .main__block__row a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 290px;
  height: 50px;
  background-color: #EE2523;
  color: white;
  border-radius: 8px;
  margin-top: 40px;
  margin-left: 15px;
}
.container .section {
  padding-bottom: 64px;
}
.container .section .section__content .section__content__h2 {
  max-width: 1430px;
  width: 100%;
  margin: 0 auto;
}
.container .section .section__content h2 {
  font-size: 30px;
  margin-top: 64px;
  margin-left: 15px;
}
.container .section .section__content .section__content__block {
  display: flex;
  margin-top: 40px;
  gap: 60px;
  justify-content: center;
}
.container .section .section__content .section__content__block .section__content__block__card {
  max-width: 440px;
  width: 100%;
  height: 535px;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.12);
}
.container .section .section__content .section__content__block .section__content__block__card .card__img {
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}
.container .section .section__content .section__content__block .section__content__block__card .card__img img {
  width: 380px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}
.container .section .section__content .section__content__block .section__content__block__card h3 {
  font-size: 24px;
  padding-left: 30px;
  padding-top: 24px;
}
.container .section .section__content .section__content__block .section__content__block__card .card__text {
  padding-left: 30px;
  padding-top: 12px;
  color: rgba(0, 0, 0, 0.5);
  max-width: 325px;
  width: 100%;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 47px;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block1 {
  display: flex;
  align-items: center;
  padding-left: 30px;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block1 .card__info__price {
  font-size: 48px;
  font-weight: 500;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block1 .card__info__text {
  margin-left: 6px;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block1 .card__info__text p {
  font-weight: 500;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block1 .card__info__text p:first-child {
  text-decoration: underline;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block1 .card__info__block1__flex {
  display: flex;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block1 .card__info__block1__flex .card__info__price2 {
  font-size: 30px;
  font-weight: 500;
  margin-top: 15px;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block2 {
  padding-right: 30px;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block2 a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 180px;
  height: 48px;
  border-radius: 8px;
  background-color: #EE2523;
}
.container .section .section__content .section__content__block .section__content__block__card .card__info3 {
  padding-top: 28px;
}

@media (max-width: 1920px) {
  .container .fixed .fixed__block {
    display: none;
  }
}
@media (max-width: 1450px) {
  .container .section .section__content .section__content__block {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px;
  }
  .container .header .navigation .nav__number a {
    margin-left: 0;
  }
  .nav__number {
    margin-left: 2%;
  }
  .container .header .navigation .nav__logo {
    margin-right: 2%;
  }
  .wrapper {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1310px) {
  .container .header .navigation {
    display: none;
  }
  .container .header .navigationAdaptive {
    height: 64px;
    display: block;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
  }
  .container .header .navigationAdaptive .navigationAdaptive__block2 {
    max-width: 215px;
    width: 100%;
  }
  .container .header .navigationAdaptive .navigationAdaptive__block2 .navigationAdaptive__block2__icons {
    display: flex;
    justify-content: space-between;
    max-width: 215px;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .container main {
    background-size: cover;
    background-position: 300px;
  }
  .container main .main__block .main__block__row h1 {
    font-size: 40px;
  }
  .container main .main__block .main__block__row {
    margin-top: 120px;
  }
  .container .section .section__content .section__content__block .section__content__block__card {
    max-width: 334px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__img img {
    width: 274px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__text {
    max-width: 300px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__info {
    flex-direction: column;
    align-items: flex-start;
  }
  .container .section .section__content .section__content__block .section__content__block__card h3 {
    padding-top: 20px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__info {
    padding-top: 30px;
  }
  .container .section .section__content .section__content__block .section__content__block__card {
    height: 550px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__info .card__info__block2 a {
    width: 260px;
    margin-left: 30px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__info2 {
    padding-top: 10px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__info3 {
    padding-top: 10px;
  }
  .container main .main__block .main__block__row a {
    width: 260px;
  }
  .wrapper {
    max-width: 688px;
  }
}
@media (max-width: 687px) {
  .container main {
    background-position: 20px;
  }
  .container main .main__block .main__block__row h1 {
    font-size: 38px;
    max-width: 350px;
  }
  .container .section .section__content .section__content__block .section__content__block__card {
    max-width: 390px;
    height: 527px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__img {
    padding-left: 35px;
    padding-right: 40px;
  }
  .container .section .section__content .section__content__block .section__content__block__card .card__img img {
    width: 315px;
    height: 180px;
  }
  .container main .main__block .main__block__row {
    margin-top: 65px;
  }
  .wrapper {
    max-width: 390px;
  }
}
@media (max-width: 520px) {
  .container .header .navigationAdaptive .navigationAdaptive__block2 .navigationAdaptive__block2__icons {
    justify-content: space-around;
  }
}/*# sourceMappingURL=style.css.map */